:root {
  --brand-color: #2196f3;
  --main-bcg-color: #ffffff;
  --filter-btn-color: #f5f4fa;
  --brand-text-color1: #212121;
  --brand-text-color2: #757575;
  --footer-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
h2 {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--brand-text-color1);
}

img {
  display: block;
}

/* ---------- Шапка сайта (Хеддер) ---------- */

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header__conteiner {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-left: 0;
  margin-top: 24px;
}
.logo-web {
  color: var(--brand-color);
}
.logo-studio-top {
  color: var(--brand-text-color1);
}
.nav {
  display: flex;
}
.nav__list {
  display: flex;
  margin-left: 91px;
  /* border: 1px solid tomato; */
}
.nav__link {
  font-family: "Roboto", sans-serif;
  color: var(--brand-text-color1);
  background-color: var(--main-bcg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;
}
.nav__link:focus,
.nav__link:hover {
  color: var(--brand-color);
}
.site-nav-info-top {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}
.auth-nav-item:hover,
.auth-nav-item:focus {
  color: var(--brand-color);
}
.auth-nav-item {
  padding-top: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.color-top {
  color: var(--brand-text-color2);
}
.active {
  color: var(--brand-color);
}
.top-line {
  background-color: #ececec;
  height: 1px;
}

/* ---------- Основной контент (Герой) ---------- */

.main-title-portfolio-page {
  display: none;
}
.filter {
  padding-bottom: 16px;
  margin-top: 94px;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}
.filter-button {
  display: flex;
  justify-content: center;
}
.filter-button .filter-button-item + .filter-button-item {
  margin-left: 8px;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--main-bcg-color);
  background-color: var(--brand-color);
}
.portfolio-btn {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--brand-text-color1);
  background-color: #f5f4fa;
  border: none;
  /* outline: none; */
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.project-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.project-list-item:nth-child(3n) {
  margin-right: 0;
}
.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-type {
  color: var(--brand-text-color2);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 2px;
}
.project-discription {
  padding: 20px 24px 8px 24px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

/* --------- Подвал сайта (Футтер) --------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
  margin: 0 auto;
}
.logo-studio-footer {
  color: var(--main-bcg-color);
}
.footer-nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.footer-nav {
  display: flex;
  margin: 20px 0px 60px 0;
  display: flex;
  flex-direction: column;
}
.color-footer-100 {
  color: rgba(255, 255, 255, 1);
}
.color-footer-60 {
  color: rgba(255, 255, 255, 0.6);
}

/* ---------------------тестирую----------------------- */

/* border: 1px solid teal; */
/* --------------------протестировано----------------- */
